<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitHubClientID</key>
	<string>$(GITHUB_CLIENT_ID)</string>
	<key>GitHubClientSecret</key>
	<string>$(GITHUB_CLIENT_SECRET)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.frank2679.markdowneditor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>markdowneditor</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
